* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #ddd;
}

.flex-container {
  background-color: #fff;
  display: flex;
}

.box {
  height: 100px;
  width: 512px;
}

.box1 {
  background-color: red;
  flex-shrink: 1;
}

.box2 {
  background-color: blue;
  flex-shrink: 2;
}

.box3 {
  background-color: green;
  flex-shrink: 3;
}