* {
  font-family: sans-serif;
  margin: 0;
  /* padding: 0; */
}

body {
  background-color: #ddd;
}

.wrapper {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
  /* background-color: #777; */
}

nav a:hover {
  background-color: #555;
}

a.tw {
  background: url('./img/tw.png') no-repeat center;
  background-size: 80%;
}

a.fb {
  background: url('./img/fb.png') no-repeat center;
  background-size: 80%;
}

.social a {
  text-indent: -10000px;
}

.social {
  max-width: 60px;
  margin: 0 auto;
}

nav ul.social {
  flex: 1 1 0;
  display: flex;
}

nav ul.social li {
  flex: 1 1 0;
}

@media screen and (min-width: 512px) {
  nav ul {
    display: flex;
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    justify-content: flex-start;
  }

  nav li {
    flex: 1 1 0; /* grow shrink basis */
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .social {
    margin: 0;
  }
}